@charset "UTF-8";

/*Nome*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

/*Menu*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Orienta&display=swap');

/*texto*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');


/*Geral*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*Fim da Config Geral*/


/*Cabeçalho*/
header {
    width: 100%;
    height: 230px;
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.container-nome {
    display: flex;
    align-items: center;
    color: white;
}

.nome {
    font-family: 'Cinzel Decorative', cursive;
}

.um {
    font-size: 35pt;
}

.dois {

    font-size: 15pt;
    text-align: right;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 370px;
    padding: 5px;
    color: white;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    
}

.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 20px;
    font-family: 'Cormorant SC', serif;
}

.menu li a:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
/*Fim do Cabeçalho*/


/*corpo*/
body {
    background-color: grey;
    font-family: 'Red Hat Display', sans-serif;
    
    
}
.background{
    background-image: url(../imagens/paper-and-pen.jpg);
    width: 100%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.c-title {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px 5px black;
    font-size: 50px;
    border-radius: 30px;
    margin: 50px;
    padding: 15px;
}

.box-info{
    width: 503px;
    height: 150px;
    margin: 50px;
    text-align: start;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 20px 20px 5px black;
     
}

.box-info p{
    font-size: 15pt;
    padding: 10px;
    
}
.box-info a {
    font-size: 15pt;
    padding: 10px;
}


.c-h2 {
    background-color: red;
    color: rgb(0, 0, 0);
    text-align: center;
}
/*fim do corpo*/


/*Rodapé*/
footer {
    height: 230px;
    width: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.caixa {
    width: 50%;
    height: 100%;

}

/*contato*/
.title h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;

}

/*link e git*/
.box-redes-sociais {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}   

.imagens {
    text-align: center;
    margin: 5px;
}

/*Copyright*/
.copyright p {
    text-align: center;
    margin: 20px;
    font-size: 21px;
}


/*Media queries*/

@media screen and ( max-width: 900px) {
    .um {
        font-size: 25pt;
    }
    .dois {
        font-size: 14pt;
        margin-left: 170px;
    }
    .copyright p {
        font-size: 20px;
    }
}

@media screen and ( max-width: 695px) {
    ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    ul li {
        padding: 20px;
    }
    .um {
        font-size: 20pt;
    }
    .dois {
        font-size: 12pt;
        margin-left: 150px;
    }
    .menu li a {
        font-size: 15px;
    }
    .copyright p{
        font-size: 15px;
    }

}
@media screen and ( max-width: 545px) {
    .copyright p {
        font-size: 13px;
    }
}
@media screen and ( max-width: 480px) {
    .um {
        font-size: 14pt;
    }
    .dois {
        font-size: 9pt;
        margin-left: 10px;
    }
    .menu li a {
        font-size: 13px;
        padding: 0;
    }
    .caixa {
        width: 300px;
    }
    .copyright p{
        font-size: 13px;
    }
}