@charset "UTF-8";

/*Nome*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

/*Menu*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Orienta&display=swap');

/*texto*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');


/*Geral*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*Fim da Config Geral*/


/*Cabeçalho*/
header {
    
    width: 100%;
    height: 130px;
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.container-nomes {
    display: flex;
    align-items: center;
    color: white;
}

.container-nomes-2 {
    font-family: 'Cinzel Decorative', cursive;
}

.nome-um {
    font-size: 35pt;
}

.nome-dois {

    font-size: 15pt;
    text-align: right;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 370px;
    padding: 5px;
    color: white;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    
}

.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 20px;
    font-family: 'Cormorant SC', serif;
}

.menu li a:hover {
    background-color: rgba(100, 100, 100, 0.3);
}
/*Fim do Cabeçalho*/


/*Corpo*/
body {
    background-color: grey;
    font-family: 'Red Hat Display', sans-serif;
}

.box-1 {
    background-image: url(../imagens/doors.jpg);
    width: 100%;
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.box-2 {
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-3 {
    width: 90%;
    text-align: center;
}

.titulo {
    color: black;
    text-align: center;
    font-size: 35pt;
    padding: 5px;
    font-family: 'Red Hat Display', sans-serif;
    
}

.texto-principal {
    color: black;
    font-size: 17pt;
    text-align: center;
    height: 100px;
    padding: 5px;
    font-family: 'Red Hat Display', sans-serif;
}



/*Fim do Corpo*/


/*Rodapé*/
.footer {
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
    background-color: #111;
    color: #fff;
}

/*contato*/
.footer-title {
    text-align: center;
    padding: 25px 0;
    font-size: 28px;
}

/*link e git*/
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.socials-link {
    margin: 10px;
}
/*2021*/

.copyright {
    background-color: black;
    height: 70px;
    padding: 25px 0;
}
    
.copyright-text {
    text-align: center;
}

/*Fim do Rodapé*/



/*Media queries*/


@media screen and ( max-width: 895px ) {
    .nome-um {
        font-size: 25pt;
        margin-left: 30pt;
    }
    .nome-dois {
        font-size: 13pt;
        margin: 0px;
    }
    .menu li a {
        font-size: 12pt;
    }
}


@media screen and ( max-width: 675px ) {
    .nome-um {
        font-size: 20pt;
    }
    .nome-dois {
        font-size: 13pt;
        
    }
    .menu li a {
        font-size: 12pt;
        padding: 12px;
    }
}

/*Celular*/
@media (max-width: 320px) { 
    .titulo {
        font-size: 24pt;
    }
    .texto-principal {
        font-size: 15pt;
    }
}
/*Celular Paisagem*/
@media (max-width: 480px) {

}